*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}
header{
    background-color: #181e2a;
    color: #fff;
}
.main-title{
    font-family: 'Caprasimo', cursive;
    padding: 10px;
    font-size: 35px;
}
.header-title-container{
    display: flex;
    justify-content: center;
}
.header-buttons-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.header-buttons-list{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    width: 35%;
}
.header-buttons-list li{
    margin: 2% 5% 5%;
    flex-direction: row;
}
.header-buttons-list button{
    border: none;
    background-color: #181e2a;
    color: #fff;
}
/*icons*/
.image-icon::before{
    content: '\f1c5';
    font: var(--fa-font-solid);
}
.text-icon::before{
    content: '\f031';
    font: var(--fa-font-solid);
}
.light-icon::before{
    content: '\f0eb';
    font: var(--fa-font-solid);
}
/*end icons*/